<ion-header>
  <ion-toolbar>
    <ion-title>
      Prasri-Flow
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<!-- card ชื่อ สกุล ผู้ป่วย -->
 
<ion-card>
    <ion-item >
        <ion-icon name="pricetag" slot="start"></ion-icon>
        <ion-label>HN 54  1537</ion-label>
      </ion-item>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>นายวีระยุทธ มายุศิริ</ion-label>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>    
  </ion-card>
  <!-- card HN ผู้ป่วย -->


<!-- จุดคัดกรอง -->
    <ion-card>
        <ion-item>
            <!-- <ion-icon name="calendar" slot="start"></ion-icon> -->
             <ion-icon name="time" slot="start"></ion-icon>
            <!-- <ion-icon name="pricetags"></ion-icon>  -->
          <!-- <ion-icon name="person" slot="start"></ion-icon> -->
          <ion-label>09:45 น.</ion-label>
          <!-- <ion-button fill="outline" slot="end">View</ion-button> -->

          
        </ion-item>
    
        <ion-item >
            <ion-icon name="pricetag" slot="start"></ion-icon>
            <ion-label>รับยาเดิม</ion-label>
          </ion-item>

          <ion-item >
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>ที่ห้องรับยาเดิมเบอร์ 7</ion-label>
            </ion-item>
        
      </ion-card>


  
   <ion-card>
   <!-- Expand -->
<ion-button expand="block"><h2>คิวที่ 8009</h2></ion-button>
<ion-button expand="block"><h2>ยังไม่ถึงคิวตรวจอีก 4 คิว</h2></ion-button>   
</ion-card>

    <ion-card class="welcome-card">
      <!-- <img src="/assets/shapes.svg" alt="" /> -->
      <ion-card-header>
         
        <ion-card-subtitle>คำแนะนำ</ion-card-subtitle>
        <!-- <ion-card-title>คำแนะนำ</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <p>ชั่งน้ำหนัก วัดความดัน</p>
        <p>และรอเรียกคิว</p>
        <p>(เจาะเลือด เอ็กซเรย์ ให้พร้อมถ้ามี)</p>
      </ion-card-content>
    
    </ion-card>
  



   
</ion-content>
