<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- card ชื่อ สกุล ผู้ป่วย -->
 
  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>นายวีระยุทธ มายุศิริ</ion-label>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>
<!--   
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content> -->

    <ion-item href="#" class="activated">
        <ion-icon name="pricetag" slot="start"></ion-icon>
        <ion-label>HN 54  1537</ion-label>
      </ion-item>
    
  </ion-card>
  <!-- card HN ผู้ป่วย -->
  
   
    <ion-card class="welcome-card">
      <!-- <img src="/assets/shapes.svg" alt="" /> -->
      <ion-card-header>
          <ion-icon name="alarm"></ion-icon>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Check out some of the resources below for next steps.</p>
      </ion-card-content>
    
    </ion-card>
  
<ion-card>
   <!-- Expand -->
<ion-button expand="block"><h2>คิวที่ 8009</h2></ion-button>
<ion-button expand="block"><h2>ยังไม่ถึงคิวตรวจอีก 4 คิว</h2></ion-button>   
</ion-card>


   
</ion-content>
